<div class="py-4 px-2 mx-auto max-w-[1440px] sm:py-4 md:px-6 lg:my-32">
  <div class="rounded-lg overflow-hidden shadow-lg border border-t-gray-100 md:grid md:grid-cols-[auto_1fr] items-center">
    <img
      class="md:max-w-[500px] lg:max-w-[800px] aspect-auto"
      src="https://partridgehillgarden.com/wp-content/uploads/2018/04/US-Gardens.jpg"
      alt=""
    />
    <div class="p-4 flex flex-col gap-4 lg:p-10">
      <h2 class="font-semibold text-4xl text-center md:text-start lg:text-6xl mb-3">
        Sobre nuestra empresa
      </h2>
      <p class="text-xl">
        Naturaleza es una empresa en constante crecimiento e innovación
        especializada en la producción de plantines de uso forestal, ornamental
        y frutal.
      </p>
      <p class="text-xl">
        La misma, tiene como objetivo proporcionar productos científicamente
        seleccionados a costo solidario, utilizando métodos naturales de
        producción y brindando atención personalizada al cliente.
      </p>
    </div>
  </div>
</div>
