<section class="min-h-screen bg-banner bg-fixed bg-no-repeat bg-cover bg-center relative">
  <div class="absolute w-full h-full bg-black/40 top-0 left-0 z-10"></div>
  <div class="absolute w-full h-full top-0 left-0 z-20 flex justify-center items-center">
    <div class="text-center text-white">
      <p class="font-normal text-sm underline md:text-base lg:text-xl">NATURALEZA SUPERMERCADO DE PLANTAS</p>
      <h1 class="text-5xl font-bold md:text-6xl lg:text-8xl">Dale vida a tu suelo</h1>
      <p class="text-lg font-semibold md:text-xl lg:text-2xl">Profesionales asesorarán tu compra</p>
    </div>
  </div>
</section>

