<section class="max-w-[1440px] mx-auto lg:my-32">
  <div class="py-4 px-2 sm:py-4 sm:px-6 lg:px-6">
    <div class="flex flex-col gap-3 mb-8">
      <h2
        class="font-semibold text-4xl text-center mb-3 md:text-start lg:text-5xl"
      >
        Nuestros Productos
      </h2>
      <p class="lg:text-lg">
        Las plantas ofertadas son el resultado de una selección meticulosa de la
        semilla, las cuales son multiplicadas bajo métodos naturales de
        producción utilizando abonos y fertilizantes orgánicos. Todas nuestras
        especies están identificadas según normas taxonómicas y tienen un
        registro fotográfico que facilita su elección según el gusto y necesidad
        del cliente.
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full">
      <div
        class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 h-auto md:h-full flex flex-col"
      >
        <a
          href=""
          class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"
        >
          <img
            src="https://eluniversitario.unnoba.edu.ar/wp-content/uploads/2018/03/3.jpg"
            alt=""
            class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
          <div
            class="absolute inset-0 bg-gradient-to-b from-gray-900/60 to-gray-900/10"
          >
          </div>
          <h3
            class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
          >
            Frutales
          </h3>
        </a>
      </div>
      <div class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50">
        <a
          href=""
          class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 mb-4"
        >
          <img
            src="https://www.lifeder.com/wp-content/uploads/2017/04/plantas-maderables-1.jpg"
            alt=""
            class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
          <div
            class="absolute inset-0 bg-gradient-to-b from-gray-900/60 to-gray-900/10"
          >
          </div>
          <h3
            class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
          >
            Maderables
          </h3>
        </a>
        <div class="grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2">
          <a
            href=""
            class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
          >
            <img
              src="https://erikoistaimet.fi/cdn/shop/files/FW-prunus-x-cistena-553136-549102.jpg?v=1715803636"
              alt=""
              class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
            />
            <div
              class="absolute inset-0 bg-gradient-to-b from-gray-900/60 to-gray-900/10"
            >
            </div>
            <h3
              class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
            >
              Ornamentales
            </h3>
          </a>
          <a
            href=""
            class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40"
          >
            <img
              src="https://media.admagazine.com/photos/664712345ee60930a1eb05e2/16:9/w_2560%2Cc_limit/palma-talipot-florece-mexico.jpg"
              alt=""
              class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
            />
            <div
              class="absolute inset-0 bg-gradient-to-b from-gray-900/60 to-gray-900/10"
            >
            </div>
            <h3
              class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
            >
              Palmeras
            </h3>
          </a>
        </div>
      </div>
      <div
        class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 h-auto md:h-full flex flex-col"
      >
        <a
          href=""
          class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow"
        >
          <img
            src="https://blog.gardencenterejea.com/wp-content/uploads/2019/05/Plantas-herbaceas.jpg"
            alt=""
            class="absolute inset-0 h-full w-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
          <div
            class="absolute inset-0 bg-gradient-to-b from-gray-900/60 to-gray-900/10"
          >
          </div>
          <h3
            class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 xs:text-xl md:text-3xl"
          >
            Herbáceas
          </h3>
        </a>
      </div>
    </div>
  </div>
</section>
