<div class="grid grid-cols-1 md:grid-cols-3 md:gap-4 lg:gap-14 items-start gap-14 my-14 px-6 max-w-[1440px] mx-auto lg:my-32">
  <div
    class="max-w-sm mx-auto rounded overflow-hidden shadow-lg p-5 grid-rows-3 h-full"
  >
    <img class="w-36 m-auto" src="/icons/molino.svg" alt="Molino icon vision" />
    <div>
      <h2 class="font-semibold text-4xl text-center mb-3">Visión</h2>
      <p>
        Ser un lugar de referencia donde el cliente encuentre la mayor
        diversidad de plantas.
      </p>
    </div>
  </div>
  <div
    class="max-w-sm mx-auto rounded overflow-hidden shadow-lg p-5 grid-rows-3 h-full"
  >
    <img
      class="w-36 mx-auto"
      src="/icons/bubbleleaf.svg"
      alt="Molino icon vision"
    />
    <div>
      <h2 class="font-semibold text-4xl text-center mb-3">Misión</h2>

      <p>
        Contribuir al desarrollo sostenible de la flora de Santa Cruz y Bolivia,
        brindando asesoramiento al cliente para que elija el material conforme a
        sus requerimientos.
      </p>
    </div>
  </div>
  <div
    class="max-w-sm m-auto rounded overflow-hidden shadow-lg p-5 grid-rows-3 h-full"
  >
    <img class="w-36 mx-auto" src="/icons/tree.svg" alt="Molino icon vision" />

    <div>
      <h2 class="font-semibold text-4xl text-center mb-3">Productos</h2>
      <p>
        Venta al por mayor y menor de plantas maderables, frutales, ornamentales
        de interior y exterior. Además de bonsai, arreglos, abonos, sustratos,
        macetas y fertilizantes naturales.
      </p>
    </div>
  </div>
</div>
